@page
@using TorneoFutbolDptl.App.Dominio
@model TorneoFutbolDptl.App.Frontend.Pages.Partidos.CreateModel
@{
}
<h1>Agregar Partido</h1>
<form method="post">

 
    <div class="form-group">
        <label asp-for="partido.FechaHora"></label>
        <input asp-for="partido.FechaHora" class="form-control"placeholder="23/11/2021 12:00 p.m.">
    </div>
 
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Cancelar</a>