#xmenu{
    left: 220px;
    top: 5px;
}



#contmenumunicipios{
    position: relative;
    
}

#contmenujugadores{
    position: relative;
    
}

#contmenuarbitros{
    position: relative;
   
}

#contmenudt{
    position: relative;
    
}

#contmenuequipos{
    position: relative;
    
}

#contmenuestadios{
    position: relative;
    
}

#contmenupartidos{
    position: relative;
    
}

#contmenunovedades{
    position: relative;
    
}

.btn-menu label{
    position: relative;
    font-size: 30px;
    top: -70px;
    color: rgb(0, 0, 0);
    left: 55px;
    cursor: pointer;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 1200ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 280px;
    background: #24cbf5;
    height: 110vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 35px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #ffffff;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}