@page
@model TorneoFutbolDptl.App.Frontend.Pages.Jugadores.AddPosicionModel
@{
}
<h1>Asignar posicion</h1>
<form method="post">
    <div class="form-group">
        <label for="idJugador">Jugador</label>
        <input type="text" id="idJugador" name="idJugador" class="form-control" value="@Model.jugador.Id" readonly>
    </div>
    <div class="form-group">
        <label for="idPosicion">Posicion</label>
        <select id="idPosicion" name="idPosicion" class="form-control">
            @foreach (var posicion in Model.posiciones)
            {
                <option value="@posicion.Id">@posicion.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>