@page
@model TorneoFutbolDptl.App.Frontend.Pages.Municipios.IndexModel
@{
}
<h1> Listado de Municipios</h1>
<a class="btn btn-primary" asp-page="./Create">Crear Municipio</a>
<p></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
            <th scope="col">Eliminacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.municipios)
        {
            <tr>
                <td>@municipio.Nombre</td>
                <td><a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@municipio.Id"> Editar </a></td>
                <td><a class="btn btn-secondary" asp-page="./Delete" asp-route-id="@municipio.Id"> Eliminar </a></td>
            </tr>
        }
    </tbody>
</table>
