@page
@model TorneoFutbolDptl.App.Frontend.Pages.Estadios.DetailsModel
@{
}
<h1>Detalles del Estadio</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.estadio.Nombre</td>
    </tr>

    <tr>
        <th scope="col">Municipio</th>
        @if (Model.estadio.Municipio == null)
        {
            <th>
                <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-id="@Model.estadio.Id">Asignar Municipio</a>
            </th>
        }
        else
        {
            <td>@Model.estadio.Municipio.Nombre</td>
        }
    </tr>
   
</table>
<a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.estadio.Id">Editar</a>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>