@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>TORNEO DE FÚTBOL DEPARTAMENTAL</h1>
    <br>
    <img src="https://bumy21.a1.swdrive.fr/index.php/apps/files_sharing/publicpreview/7c2HwdZ6ra29iLJ?x=1801&y=641&a=true&file=Torneo.jpg ">
   
</div>
